{% extends "base.html" %}
{% load static %}


{% block title %}

{% endblock title %}



{% block content %}
<section>
    <h1 class="text-center mt-5">Meals</h1> <br>
        <div  class=" d-flex flex-wrap justify-content-center">
            <div class="col-12  col-lg-10  d-flex flex-wrap  gap-2 mt-3 justify-content-center">
                {% for i in meals.categories %}
                <div class="row  d-flex flex-wrap ">
                    <div class="m-2 ">
                        <div class="card mt-3" style="width: 18rem;">
                            <img src="{{i.strCategoryThumb}}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">{{i.strCategory}}</h5>
                                <small class="card-text text-secondary">ID: {{i.idCategory}}</small>
                                <p class="card-text">{{ i.strCategoryDescription | truncatechars:10 }}</p>
                                
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock content %}